@use 'sass:map';

@function theme-colors() {
	@return (
		"Base03": #002b36,
		"Base02": #073642,
		"Base01": #586e75,
		"Base00": #657b83,
		"Base0": #839496,
		"Base1": #93a1a1,
		"Base2": #eee8d5,
		"Base3": #fdf6e3,
		"Yellow": #b58900,
		"Orange": #cb4b16,
		"Red": #dc322f,
		"Magenta": #d33682,
		"Violet": #6c71c4,
		"Blue": #268bd2,
		"Cyan": #2aa198,
		"Green": #859900,
	);
}


.keyword {
	color: map-get(theme-colors(), "Red");
}

.literal-str {
	color: map-get(theme-colors(), "Green");
}

.type-ident {
	color: map-get(theme-colors(), "Yellow");
}

.macro-call {
	color: map-get(theme-colors(), "Red");
}

.ident {
	color: map-get(theme-colors(), "Blue");
}

.lifetime {
	color: map-get(theme-colors(), "Yellow");
}

.ampersand {
	color: map-get(theme-colors(), "Green");
}

.symbol {
	color: map-get(theme-colors(), "Red");
}

.literal-number {
	color: map-get(theme-colors(), "Green");
}

.comment {
	color: map-get(theme-colors(), "Base0");
}
