@use './colors.scss';

#md-shape {
	width: 100%;
	overflow: scroll;
}

.code-container  {
	white-space: pre;
	background: map-get( colors.theme-colors(), "Base03");
	border-radius: var(--md-sys-shape-corner-small);
	padding: 1rem;
	tab-size: 4;
	width: 100ch;
	height: 250px;
	overflow: scroll;
	font-family: hack;
}
