body {
	margin: 0px;
	padding: 0px;
	background: var(--md-sys-color-inverse-on-surface);
	overflow-x: hidden;
}

.topbar {
	display: flex;
	width: 100%;
	height: 64px;
	justify-content: flex-end;
	align-items: center;
	background: var(--md-sys-color-on-primary-fixed-variant);
}

.toggle-btn {
	margin-right: 2rem;
}

.title {
	margin: 2rem;
	padding: 2rem;
	text-align: center;
}

.component-example {
	display: flex;
	flex-flow: column;
	align-items: center;
	background: var(--md-sys-color-background);
	margin: 2rem;
	padding: 1rem;
	border-radius: var(--md-sys-shape-corner-large);
}

a:link, a:visited {
	all: unset;
	cursor: pointer;
}

.example-header, .example-headline, .example-footer {
	padding: 1rem;
}
